<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}
        <title>Base</title>
    {% endblock %}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Theme CSS -->

    <!-- Custom styles for this template -->
    <link href="{{ url_for(endpoint='static', filename='css/signin.css') }}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for(endpoint='static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for(endpoint='static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for(endpoint='static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for(endpoint='static', filename='site.webmanifest') }}">
</head>

<body class="text-center">
<div class="container">
    <img class="mb-4" src="https://media.thescriptgroup.in/LogoTransp2.png" alt=""
         height="40%" width="40%">
    <form class="form-signin" method="post" {% block endpoint %}{% endblock %}>
        {% block content %} {% endblock %}
    </form>
    {% block copyright %}<p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p> {% endblock %}
</div>
</body>
</html>
