{% extends "base.html" %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Please enter current and new password</h1>
    <label for="inputCurrentPassword" class="sr-only">Current Password</label>
    <input type="password" id="inputCurrentPassword" class="form-control" placeholder="password" name="current_password"
           required>
    <br>
    <label for="inputNewPassword" class="sr-only">New Password</label>
    <input type="password" id="inputNewPassword" class="form-control" placeholder="password" name="new_password"
           required>
    <br>

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="">Change password</button>
{% endblock %}
