{% extends "base.html" %}

{% block title %}
    <title>Forgot Username</title>
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">
        Please enter your registered email address!
        If they match our records, you will be emailed your username!
    </h1>
    <label for="inputEmail" class="sr-only">Email Address</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Email Address" name="email"
           required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="">Submit</button>
{% endblock %}
