{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in!</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="username" name="username" required>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="password" name="password" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="">Sign in</button>
{% endblock %}