{% extends "base.html" %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Please enter your new desired password</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username"
           required>
    <br>
    <label for="inputNewPassword" class="sr-only">New Password</label>
    <input type="password" id="inputNewPassword" class="form-control" placeholder="New password" name="new_password"
           required>
    <!--
    TODO: Add JS validation to ensure password has been entered again
    <br>
    <label for="repeatNewPassword" class="sr-only">Repeat new password</label>
    <input type="password" id="repeatNewPassword" class="form-control" placeholder="Repeat new password" name="new_password"
           required>
    <br>
    -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="">Change password</button>
{% endblock %}
