{% extends "base.html" %}

{% block title %}
    <title>Update Registrations</title>
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Enter details to update!</h1>
    <p>
        <label for="field" class="sr-only">Event</label>
        <select name="field" id="field" class="form-control" required>
            {% for field in fields %}
                <option value="{{ field }}">{{ field }}</option>
            {% endfor %}
        </select>
    </p>
    <label for="inputID" class="sr-only">ID</label>
    <input type="text" id="inputID" class="form-control" placeholder="ID" name="id" required>
    <br>
    <label for="inputStatus" class="sr-only">Status</label>
    <input type="text" id="inputStatus" class="form-control" placeholder="Payment Status" name="value" maxlength="20" required>
    <br>
    <input type="text" id="inputTable" name="table" style="visibility: hidden" value="{{ table_name }}" contenteditable="false">
    <input type="text" id="inputKey" name="key" style="visibility: hidden" value="id" contenteditable="false">
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="">Update</button>
{% endblock %}