<html>
<head>
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/w3.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for(endpoint='static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for(endpoint='static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for(endpoint='static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for(endpoint='static', filename='site.webmanifest') }}">
    <title>All Registrations</title>

    <style>
        td, th {
            border-bottom: 1px solid #f44336;
        }
    </style>
</head>
<body style="background-color: #101010; color: #FFFFFF;">
<div class="w3-container w3-padding">
    <table class="w3-table w3-border w3-border-red w3-centered">
        <tr class="w3-red">
            {% for c in columns %}
                <th>{{ c.replace("_", " ").title() }}</th>
                {% if c == "phone" %}
                    <th>WhatsApp</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
                {% for c in columns %}
                    {% if c == "hackerrank_username" %}
                        <td><a href="https://hackerrank.com/{{ user[c] }}">{{ user[c] }}</a></td>
                    {% elif c == "phone" %}
                        {% if '|' in user['phone'] %}
                            <td>{{ user['phone'].split('|')[0] }}</td>
                            <td><a href="https://api.whatsapp.com/send?phone=91{{ user['phone'].split('|')[1] }}"
                                   target=_blank class="w3-text-blue">WhatsApp</a></td>
                        {% else %}
                            <td>{{ user['phone'] }}</td>
                            <td><a href="https://api.whatsapp.com/send?phone=91{{ user['phone'] }}" target=_blank
                                   class="w3-text-blue">WhatsApp</a></td>
                        {% endif %}
                    {% elif c == 'email' %}
                        <td><a href="mailto:{{ user[c] }}">{{ user[c] }}</a></td>
                    {% else %}
                        <td>{{ user[c] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
