<html>

<head>
    <title>{{ event }} Registration Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/w3.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/homepage.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<div class="w3-container w3-padding-top w3-margin-top">
    <div class="w3-container w3-card-4 w3-black w3-row w3-hide-medium w3-hide-small opacity-prop">
        <div class="w3-col" style="width: 30%;">
            <img src="{{ url_for(endpoint='static', filename='images/csi-logo.png') }}"
                 style="float: left; width: 40%; height: auto; padding: 8px;">
        </div>
        <div class="w3-col w3-center" style="width: 40%;">
            <br>
            <h2 style="text-align: center;">UI/UX<br/>{{ event }}<br/>{{ date }}</h2>
        </div>
        <div class="w3-col" style="width: 30%;">
            <div class="w3-right">
                <img src="{{ url_for(endpoint='static', filename='images/White-MITWPU (1).png') }}"
                     style="width: 90%; height: auto; padding: 8px;">
            </div>
        </div>
    </div>


    <div class="w3-card-4 w3-black w3-row w3-hide-large">
        <div class="w3-col" style="width: 25%;">
            <img src="{{ url_for(endpoint='static', filename='images/csi-logo.png') }}"
                 style="float: left; width: 100%; height: auto; padding: 8px;">
        </div>
        <div class="w3-col w3-center" style="width: 40%;">
            <h2 style="text-align: center; font-size: 8vw;">UI/UX</h2>
            <h6 style="text-align: center; font-size: 3.5vw;"><br/>{{ event }}<br/>{{ date }}</h6>
        </div>
        <div class="w3-col" style="width: 25%;">
            <div class="w3-right">
                <img src="{{ url_for(endpoint='static', filename='images/White-MITWPU (1).png') }}"
                     style="width: 100%; height: auto; padding: 8px;">
            </div>
        </div>
    </div>
    <form method="post" action="/submit" enctype="multipart/form-data">
        <div class="form-group">
            <hr>
            <p><b>What is CSI ?</b><br>
                The Computer Society of India is a non-profit professional meet to exchange views and information,
                to learn and share ideas. The wide spectrum of members is committed to the advancement of theory and
                practice of Computer Engineering and Technology Systems, Science and Engineering, Information
                Processing.
            </p>
            <p><b>What is User Experience (UX) design?</b><br>
                UX design involves research into user personas and user goals; planning of user journeys through an
                app, website, or product; and sketching of user interface designs and specifications. It’s not hard
                to work out why: consumers now interact with online stores and services primarily through mobile
                devices like smartphones and tablets.
            </p>
            <br>
            <p><b>Register here!</b></p>
            <br>
            <p>PRN (required)</p>
            <input type="text" name="prn" placeholder="Enter your PRN" maxlength="10" required
                   class="form-control" pattern="[\d]{10}"/>
            <hr>
            <p>Name (required)</p>
            <input type="text" name="name" placeholder="Enter your name" maxlength="30" required
                   class="form-control" pattern="^\w[\w, ]+$"/>
            <hr>
            <p>Email (required)</p>
            <input type="email" name="email" placeholder="Enter your email address" maxlength="50" required
                   pattern="^.+@[^\.].*\.[a-z]{2,}$" class="form-control"/>
            <hr>
            <p>Phone Number (required)</p>
            <input type="text" name="phone" placeholder="Enter your phone number (Excluding +91)" maxlength="10"
                   required class="form-control" pattern="[\d]{10}"/>
            <hr>
            <p>WhatsApp Number (if different from above)</p>
            <input type="text" name="whatsapp_number" placeholder="Enter your WhatsApp number (Excluding +91)"
                   maxlength="10" class="form-control" pattern="[\d]{10}"/>
            <hr>
            <select name="department" class="form-control" id="department">
                <option value="cse" selected>Computer Science and Engineering</option>
            </select>
            <hr>
            <select name="year" class="form-control" id="year" required>
                <option value="2nd">SY</option>
                <option value="3rd">TY</option>
            </select>
            <hr>
            <select name="noqr_paid" class="form-control" id="noqr_paid" required>
                <option value="paytm">PayTM Gateway (₹100)</option>
                <option value="cash">Cash (₹100)</option>
            </select>
            <hr>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="privpolicy">By using this service, you hereby consent to our<a
                    href="https://thescriptgroup.in/privacypolicy" class="btn btn-link" role="button">Privacy
                Policy</a>.</label>
        </div>
        <input type="text" id="event" name="event" style="visibility: hidden" value="{{ event }}"
               contenteditable="false">
        <input type="text" id="db" name="db" style="visibility: hidden" value="{{ db }}" contenteditable="false">
        <input type="text" id="date" name="date" style="visibility: hidden" value="{{ date }}"
               contenteditable="false">
        <input type="text" id="chat_id" name="chat_id" style="visibility: hidden" value="{{ chat_id }}"
               contenteditable="false">
        <input type="text" id="email_content" name="email_content" style="visibility: hidden"
               value="{{ email_content }}" contenteditable="false">
        <input type="text" id="email_content_fields" name="email_content_fields" style="visibility: hidden"
               value="{{ email_content_fields }}" contenteditable="false">

        <button type="submit" style="margin:auto;display:block" class="btn btn-dark">Submit
        </button>
        <div class="w3-container">
            <div class="w3-center">
                <br>
                <p>powered by</p>
                <div class="w3-hide-small w3-hide-medium">
                    <a href="https://thescriptgroup.in" target="_blank"><img
                            src="{{ url_for(endpoint='static', filename='images/LogoTransp (2).png') }}"
                            width="20%"></a>
                </div>
                <div class="w3-hide-large">
                    <a href="https://thescriptgroup.in" target="_blank"><img
                            src="{{ url_for(endpoint='static', filename='images/LogoTransp (2).png') }}"
                            width="50%"></a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

</html>