<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <br/>
        <form action="/login/{{ user }}" method="post">
            <div class="form-group">
                <h3>Please enter your password, {{ user }}!</h3>
                <p><input type=password name=password placeholder="password" class="form-control" required>
                <p>
                <select name="table" id="table" class="form-control" required>
                {% for k, v in events.items() %}
                        <option value="{{ k }}">{{ v }}</option>
                {% endfor %}
                </select>
                </p>
                </div>
            <p><input type=submit value=Login>
        </form>
    </body>

