<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>All Registrations</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Department</th>
            <th>WhatsApp Link</th>
            <th>Year</th>
            {% for column in extra_columns.keys %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td>{{ user['name'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['phone'] }}</td>
                {% if user['department'] %}
                    <td>{{ user['department'] }}</td>
                {% else %}
                    <td>Computer Science and Engineering</td>
                {% endif %}
                {% if '|' in user['phone'] %}
                    <td><a href="https://api.whatsapp.com/send?phone=91{{ user['phone'].split('|')[1] }}" target=_blank>WhatsApp</a></td>
                {% else %}
                    <td><a href="https://api.whatsapp.com/send?phone=91{{ user['phone'] }}" target=_blank>WhatsApp</a></td>
                {% endif %}
                {% if user['year'] %}
                    <td>{{ user['year'] }}</td>
                {% endif %}
                {% for column in extra_columns.values() %}
                    <td>{{ user[column] }}</td>
                {% endfor %}

            </tr>
        {% endfor %}
    </table>
</div>
</body>
