<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>All CodeX Registrations</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>CodeX ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Department</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user['codex_id'] }}</td>
                <td>{{ user['name'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['phone'] }}</td>
                <td>{{ user['department'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
