name: check-code
on: [pull_request, push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@master
      with:
        python-version: 3.7
    - uses: actions/checkout@master
    - run: |
          sudo apt install libpq-dev python3-psycopg2 -y
          pip install -r requirements.txt
          black --check hades
